@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Manjari:wght@100;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Poppins", sans-serif;
font-family: "Vollkorn", serif; */

/* common  */
a{
  font-family: "Poppins", sans-serif;
  text-decoration: none; 
}
h1, h2{
   font-family: "Vollkorn", serif; 
   font-weight: bold;
}
h5{
  font-family: "Poppins", sans-serif;  
  font-weight:500;
}
.sec-head{
    text-align: center;
}
.sec-head h5{
    font-size:18px;
    color:#5E6282;
}
.sec-head h2{
    color:#181E4B;
    font-size:50px;
}

/*  hero section */

.btn.btn-outline-dark{
padding:9px 22px;
}
.navbar-nav.mx-auto.mb-2.mb-lg-0{
    gap: 64px;
}
.navbar{
    font-family: "Poppins", sans-serif; 
}
.nav-right{
    gap:42px;
}
.nav-right select {
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.nav-right select:focus,
.nav-right select:focus-visible {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}
.form-select:focus {
    border-color: transparent !important;
    outline: 0 !important;
    box-shadow: none !important;
}
.nav-link{
    font-size:17px;
    font-weight:500;
}
.banner-content h5{
    color:#DF6951;
    font-size: 18px;
    font-weight: 500;
}
.banner-content h1{
    color:#181E4B;
    font-size:84px;
    font-weight:700;
    font-family: "Vollkorn", serif;
    line-height:89px;
    padding:27px 0px;
}
.banner-content p{
    color:#5E6282;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif; 
}
/* .playBtn{
    width:52px;
    height:52px;
    border-radius: 50%;
    background-color: #DF6951;
    display:inline-block;
} */
.playBox a{
    color:#686D77;
}
.banner-content .btn{
    padding: 19px 22px;
    background-color: #F1A501;
    color:white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.playBtn{
    width: 52px;
    height: 52px;
    background-color: #DF6951;
    border-radius: 50%;
    color: #FFF;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    font-family: sans-serif;
    text-transform: uppercase;
    animation: animate-pulse 3s linear infinite;
    cursor: pointer
}
@keyframes animate-pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(255,109,74,0.7),  0 0 0 0 rgba(255,109,74,0.7);
    }
    40%{
        box-shadow: 0 0 0 50px rgba(255,109,74,0.0),  0 0 0 0 rgba(255,109,74,0.7);
    }
    80%{
        box-shadow: 0 0 0 50px rgba(255,109,74,0.0),  0 0 0 30px rgba(255,109,74,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(255,109,74,0.0),  0 0 0 30px rgba(255,109,74,0);
    }
    
}
/*  category */

#category-part {
    padding: 111px 0px;
    display: flex;             
    justify-content: center;   
    align-items: center;       
    gap: 30px;                 
    flex-wrap: wrap;          
}

.category-box {
    width: 267px;
    border-radius: 36px;
    padding: 44px;
    text-align: center;
}

.category-box:hover {
    box-shadow: 0px 2px 8px 0px #000066;
}
.category-box p{
    font-size:16px;
}
